{
    "employees": [
        {
            "id": "aioi7liri2",
            "name": "Faris Hasan",
            "email": "farisfalah@gmail.com",
            "start_date": "2025-03-20",
            "salary": 750,
            "active": true,
            "role": "Software Developer",
            "picture": "/avatar.png"
        },
        {
            "id": "kifunx5cmj",
            "name": "Richard Thorn",
            "email": "richardthorn@yahoo.com",
            "start_date": "2024-04-18",
            "salary": 1000,
            "active": true,
            "role": "Product Manager",
            "picture": "/avatar.png"
        },
        {
            "id": "jet37wxnuh",
            "name": "Cynthia Clover",
            "email": "cynthiaclover@gmail.com",
            "start_date": "2023-05-15",
            "salary": 900,
            "active": false,
            "role": "Business Analyst",
            "picture": "/avatar.png"
        },
        {
            "id": "d0q3ie7kcc",
            "name": "Anna Brown",
            "email": "annabrown@yahoo.com",
            "start_date": "2022-06-11",
            "salary": 500,
            "active": true,
            "role": "UI/UX Designer",
            "picture": "/avatar.png"
        },
        {
            "id": "rqbqu9nad3",
            "name": "Dave Andrews",
            "email": "daveandrews@gmail.com",
            "start_date": "2021-07-06",
            "salary": 650,
            "active": false,
            "role": "QA Engineer",
            "picture": "/avatar.png"
        },
        {
            "id": "15se1mzmkt",
            "name": "Riley Robinson",
            "email": "rileyrobinson@yahoo.com",
            "start_date": "2021-08-30",
            "salary": 800,
            "active": true,
            "role": "Software Developer",
            "picture": "/avatar.png"
        },
        {
            "id": "2rlr1dllm5",
            "name": "Benedict Maxwell",
            "email": "benedictmaxwell@gmail.com",
            "start_date": "2022-09-28",
            "salary": 1100,
            "active": false,
            "role": "Product Manager",
            "picture": "/avatar.png"
        },
        {
            "id": "82ti39k3ny",
            "name": "Amanda Campbell",
            "email": "amandacampbell@yahoo.com",
            "start_date": "2023-10-27",
            "salary": 950,
            "active": true,
            "role": "Business Analyst",
            "picture": "/avatar.png"
        },
        {
            "id": "9agcke672x",
            "name": "Lou Vera",
            "email": "louvera@gmail.com",
            "start_date": "2024-11-24",
            "salary": 550,
            "active": true,
            "role": "UI/UX Designer",
            "picture": "/avatar.png"
        },
        {
            "id": "4w6de3qepm",
            "name": "Jerry Thomas",
            "email": "jerrythomas@yahoo.com",
            "start_date": "2025-02-23",
            "salary": 600,
            "active": true,
            "role": "QA Engineer",
            "picture": "/avatar.png"
        }
    ]
}