{
  "employees": [
    {
      "id": "aioi7liri2",
      "name": "Faris Hasan",
      "email": "farisfalah@gmail.com",
      "date": "2025-03-20",
      "salary": 750,
      "role": "Software Developer",
      "picture": "default",
      "active": true
    },
    {
      "id": "kifunx5cmj",
      "name": "Richard Thorn",
      "email": "richardthorn@yahoo.com",
      "date": "2024-04-18",
      "salary": 1000,
      "role": "Product Manager",
      "picture": "default",
      "active": true
    },
    {
      "id": "jet37wxnuh",
      "name": "Cynthia Clover",
      "email": "cynthiaclover@gmail.com",
      "date": "2023-05-15",
      "salary": 900,
      "role": "Business Analyst",
      "picture": "default",
      "active": false
    },
    {
      "id": "d0q3ie7kcc",
      "name": "Anna Brown",
      "email": "annabrown@yahoo.com",
      "date": "2022-06-11",
      "salary": 500,
      "role": "UI/UX Designer",
      "picture": "default",
      "active": true
    },
    {
      "id": "rqbqu9nad3",
      "name": "Dave Andrews",
      "email": "daveandrews@gmail.com",
      "date": "2021-07-06",
      "salary": 650,
      "role": "QA Engineer",
      "picture": "default",
      "active": false
    },
    {
      "id": "15se1mzmkt",
      "name": "Riley Robinson",
      "email": "rileyrobinson@yahoo.com",
      "date": "2021-08-30",
      "salary": 800,
      "role": "Software Developer",
      "picture": "default",
      "active": true
    },
    {
      "id": "2rlr1dllm5",
      "name": "Benedict Maxwell",
      "email": "benedictmaxwell@gmail.com",
      "date": "2022-09-28",
      "salary": 1100,
      "role": "Product Manager",
      "picture": "default",
      "active": false
    },
    {
      "id": "82ti39k3ny",
      "name": "Amanda Campbell",
      "email": "amandacampbell@yahoo.com",
      "date": "2023-10-27",
      "salary": 950,
      "role": "Business Analyst",
      "picture": "default",
      "active": true
    },
    {
      "id": "9agcke672x",
      "name": "Lou Vera",
      "email": "louvera@gmail.com",
      "date": "2024-11-24",
      "salary": 550,
      "role": "UI/UX Designer",
      "picture": "default",
      "active": true
    },
    {
      "id": "4w6de3qepm",
      "name": "Jerry Thomas",
      "email": "jerrythomas@yahoo.com",
      "date": "2025-02-23",
      "salary": 600,
      "role": "QA Engineer",
      "picture": "default",
      "active": true
    }
  ]
}